
<h3>Create event</h3>
<div class="form-group">
    <label for="name">Event name</label>
    <input class="form-control" placeholder="Event name" [(ngModel)]="event.name">
</div>
<div class="form-group">
    <label for="name">Event banner (uri)</label>
    <input class="form-control" placeholder="Event banner (img)" [(ngModel)]="event.bannerUri">
</div>
<div class="form-group">
    <label for="date">Event date</label>
    <input class="form-control" type="date" placeholder="Event date" [(ngModel)]="event.date">
</div>
<div class="form-group">
    <label for="time">Event time</label>
    <input class="form-control" type="time" placeholder="Event time" [(ngModel)]="event.time">
</div>
<div class="form-group">
    <label for="location">Event Adress</label>
    <input class="form-control" placeholder="Event adress" [(ngModel)]="event.location.adress">
    <label for="location">Event city</label>
    <input class="form-control" placeholder="Event city" [(ngModel)]="event.location.city">
    <label for="location">Event country</label>
    <input class="form-control" placeholder="Event country" [(ngModel)]="event.location.country">
</div>
<div class="form-group">
    <button class="btn btn-primary" (click)="saveEvent()">Save</button>
</div>
