<div class="container text-center" *ngIf="$event | async as event; else notfound">
        
        <section class="jumbotron text-center">
            <div class="container">

                <h1 class="jumbotron-heading">{{event.name}}</h1>
                <p>
                    <a class="btn btn-primary my-2">Join this event!</a>
                </p>

            </div>
        </section>

        <!-- <app-event-details [event]="event"></app-event-details> -->

        <div class="row groups">
            <div class="col-md-6">
                <h2>Participants</h2>

                <div>
                    <input [(ngModel)]="participantname"><button (click)="addParticipant()">Add</button>
                </div>

                <ul>
                    <li *ngFor="let participant of participants" [dndDraggable]="participant">
                        {{participant.name}}
                    </li>
                </ul>
        
            </div>
            <div class="col-md-6">
                <h2>Groups</h2>

                <div>
                    <input [(ngModel)]="groupName"><button (click)="addGroup()">Add</button>
                </div>

                <ul>
                    <li *ngFor="let group of groups" class="group">
                        {{group.name}}
                        <ul dndDropzone (dndDrop)="addToGroup(group, $event)">
                            <li *ngFor="let participant of group.participants" [dndDraggable]="participant">
                                {{participant.name}}
                            </li>
                        </ul>
                    </li>
                </ul>
        
            </div>
        </div>

        <!-- <app-event-participants [participants]="participants"></app-event-participants> -->
</div>


<ng-template #notfound>
    <h1>404: Event not found</h1>
</ng-template>